	<!-- Page top Section -->
	<section class="page-top-section set-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 m-auto text-white">
					<h2>{{ title }}</h2>
					<p>{{ intro }}</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Page top Section end -->
