/* ---------------------
    Helper CSS
----------------------- */
.section-title {
    text-align: center;
    margin-bottom: 55px;

    img {
        margin-bottom: 15px;
    }

    h2 {
        font-weight: 400;
        font-size: 38px;
        font-family: $font_2;
        text-transform: uppercase;
    }

    p {
        padding-top: 15px;
        margin-bottom: 0;
    }
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.spad {
    padding-top: 110px;
    padding-bottom: 105px;
}

.bg-g-1 {
    background: linear-gradient(145deg, rgba(246, 93, 93, 1) 0%, rgba(253, 176, 125, 1) 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr="#f65d5d", endColorstr="#fdb07d", GradientType=1);
}

.bg-g-2 {
    background: linear-gradient(145deg, rgba(253, 176, 125, 1) 0%, rgba(246, 93, 93, 1) 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr="#fdb07d", endColorstr="#f65d5d", GradientType=1);
}

/* ---------------------
    Commom elements
----------------------- */
@import 'buttons';
