{% extends "base.twig" %}

{% block body %}
    {% include "parts/top_section.twig" with { "title": wp_title, "intro": theme.theme_mod("top_section_content_trainer")  } %}

    <!-- Trainers Section -->
    <section class="trainers-page-section spad overflow-hidden">
        <div class="container">
            <div class="row">
                {% for post in posts %}
                    <div class="col-lg-6">
                        {% include "parts/trainers-list.twig" with { trainer: post } %}
                    </div>
                {% endfor %}
            </div>

            <!-- Pagination -->
            {% include "parts/pagination.twig" %}
        </div>
    </section>
    <!-- Trainers Section end -->
{% endblock body %}